<nav
  class="dark:bg-neutral-950 w-full px-8 py-3 border-t border-solid border-neutral-200 dark:border-neutral-800 shadow-sm md:h-[74px] fixed bottom-0 lg:hidden"
>
  <ul
    class="flex items-center justify-center md:justify-between md:gap-x-[37.5px]"
  >
    @for (item of routes; track item.path) {
      <app-navigation-item [item]="item" />
      @if (!$last) {
        <span
          class="md:border border-neutral-100 dark:border-neutral-600 h-[50px]"
        ></span>
      }
    }
  </ul>
</nav>
