<li class="min-h-10 w-full">
  <a
    routerLinkActive="active"
    #rla="routerLinkActive"
    [routerLink]="item().path"
    class="w-full text-preset-4 text-neutral-950 dark:text-neutral-200"
  >
    <span
      class="flex items-center gap-2"
      [class]="paddingClasses()"
      [class.dark:bg-neutral-800]="rla.isActive"
      [class.bg-neutral-100]="rla.isActive"
      [class.rounded-8]="rla.isActive"
    >
      <ng-container
        [ngComponentOutlet]="item().icon"
        [ngComponentOutletInputs]="{
          active: rla.isActive,
          size: 'md',
          lightVariant: 'neutral-700',
          darkVariant: 'neutral-200',
          lightActiveVariant: iconLightActiveColor(),
          darkActiveVariant: iconDarkActiveColor(),
        }"
      ></ng-container>
      <p class="my-auto">{{ item().label }}</p>
      @if (rla.isActive) {
        <app-icon-arrow-right class="block ml-auto" />
      }
    </span>
  </a>
</li>
