button {
  font-size: var(--text-preset-4);
  padding-block: 12px;
  padding-inline: 16px;
  border-radius: 8px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  text-align: center;
  &:hover {
    transition:
      background-color 0.3s,
      border-color 0.3s,
      color 0.3s;
    cursor: pointer;
  }
  &:focus {
    outline: 2px solid var(--color-neutral-300);
    outline-offset: 1.5px;
    box-shadow: var(--shadow-sm);
  }
}

.btn-primary {
  background-color: var(--color-blue-500);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-blue-700);
  }
}

.btn-danger {
  background-color: var(--color-red-500);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-red-700);
  }
}

.btn-secondary {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-600);
  &:hover {
    background-color: var(--color-white);
    color: var(--color-neutral-950);
    border: solid 1px var(--color-neutral-300);
  }
  &:focus {
    border: solid 1px var(--color-neutral-950);
  }
}

.btn-border {
  background-color: inherit;
  border: solid 1px var(--color-neutral-300);
  &:hover {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-600);
    border: none;
  }
  &:focus {
    border: solid 1px var(--color-neutral-950);
  }
}

.btn-primary-disabled {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-300);
}

.btn-disabled {
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-300);
}
