<form
  class="h-full bg-white py-5 px-6 flex flex-col gap-y-4 dark:bg-neutral-950"
>
  <notes-header-control [options]="['save']" cancelOptions="reset-form" />
  <header
    class="flex flex-col gap-y-3 pb-3 md:pb-4 border-b border-neutral-200 dark:border-neutral-800"
  >
    <input
      type="text"
      class="text-preset-1 text-neutral-950 dark:text-white outline-0"
      [value]="note().title ? note().title : ''"
    />
    <div
      class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-[9px] w-fit text-preset-5 text-neutral-700 dark:text-neutral-300"
    >
      <div class="flex gap-x-1.5 items-center">
        <app-icon-tag
          size="xs"
          darkVariant="neutral-300"
          lightVariant="neutral-700"
        />
        <p>Tags</p>
      </div>
      <div>
        <input
          type="text"
          [value]="note().tags ? note().tags.join(', ') : ''"
          placeholder="Add tags separated by commas (e.g. Work, Planning)"
          class="outline-0 w-full rounded-4 text-neutral-950 dark:text-white focus-within:outline outline-neutral-950 dark:outline-white"
        />
      </div>
      <div class="flex gap-x-1.5 items-center">
        <app-icon-clock
          size="xs"
          darkVariant="neutral-300"
          lightVariant="neutral-700"
        />
        <p>Last Edited</p>
      </div>
      <div class="text-neutral-400">
        @if (noteId()) {
          <p>{{ note().updatedAt | date: "dd MMM y" }}</p>
        } @else {
          <p>Not yet saved</p>
        }
      </div>
    </div>
  </header>
  <div
    class="text-preset-5 text-neutral-700 dark:text-neutral-100 w-full h-full"
  >
    <textarea
      class="resize-none w-full h-full outline-0"
      [value]="note().content ? note().content : ''"
      placeholder="Start typing your note here…"
    ></textarea>
  </div>
  <footer
    class="hidden lg:flex gap-x-4 border-t border-neutral-200 dark:border-neutral-800"
  >
    <app-button variant="primary" label="Save Note" />
    <app-button variant="secondary" label="Cancel" />
  </footer>
</form>
