<article class="flex flex-col gap-y-6 lg:max-w-[528px]">
  <app-header-control
    navigateTo="/settings"
    navigationButtonLabel="settings"
    [borderBottom]="false"
  />
  <settings-heading title="Change Password" />
  <app-input
    name="oldPassword"
    label="Old Password"
    iconName="show"
    iconPlacement="end"
    type="password"
  />
  <app-input
    name="newPassword"
    label="New Password"
    iconName="show"
    iconPlacement="end"
    hintMessage="At least 8 characters"
    type="password"
  />
  <app-input
    name="confirmPassword"
    label="Confirm New Password"
    iconName="show"
    iconPlacement="end"
    type="password"
  />

  <app-button
    variant="primary"
    label="Save Password"
    (clicked)="clickedUpdatePassword.set($event)"
    class="self-end"
  />
</article>
