<article class="flex flex-col gap-y-6 lg:max-w-[528px]">
  <app-header-control
    navigateTo="/settings"
    navigationButtonLabel="settings"
    [borderBottom]="false"
  />
  <settings-heading title="Font Theme" description="Choose your font theme:" />
  <settings-selection
    [selections]="selections"
    (selectedOption)="updateFontSelection($event)"
    [currentSelection]="currentFont()"
  />
  <div class="w-full flex justify-end">
    <app-button
      variant="primary"
      label="Apply Changes"
      (clicked)="handleUpdateFont($event)"
    />
  </div>
</article>
