<header class="dark:bg-neutral-950">
  <div
    class="hidden lg:flex items-center w-full h-[81px] px-8 flex-1 lg:border-solid border-b border-neutral-200 dark:border-neutral-200/30 justify-between"
  >
    <app-title [title]="titleValues().title" [match]="titleValues().match" />
    <div class="flex gap-4 items-center justify-center">
      <app-input
        class="w-[300px]"
        iconName="search"
        name="search-query"
        placeholder="Search by title, content, or tags…"
      />
      <a routerLink="/settings">
        <app-icon-settings
          size="customMd"
          lightVariant="neutral-500"
          darkVariant="neutral-400"
        />
      </a>
    </div>
  </div>
  <div
    class="bg-neutral-100 max-h-[54px] md:max-h-[74px] dark:bg-neutral-800 py-[13px] px-4 md:py-[23px] md:px-8 lg:hidden"
  >
    <app-logo />
  </div>
</header>
