<header
  class="hidden lg:flex max-h-[81px] ml-[272px] py-[26px] px-8 flex-1 border-solid border-b border-neutral-200 dark:border-neutral-200/30 justify-between items-center"
>
  <app-title title="Section" />
  <div>
    <div class="flex gap-4 items-center">
      <!-- TODO: Replace with search component -->
      <div
        class="w-[300px] h-[44px] shadow-sm border border-neutral-300 rounded-6"
      >
        <p>Text</p>
      </div>
      <app-settings-icon/>
    </div>
  </div>
</header>
