<div
  class="flex items-center gap-4 p-4 rounded-12 border border-solid border-neutral-200 dark:border-neutral-800 hover:cursor-pointer"
  tabindex="0"
  role="button"
  (click)="changeOption()"
  [class.bg-neutral-100]="isSelected()"
  [class.dark:bg-neutral-800]="isSelected()"
>
  <div
    class="bg-white dark:bg-neutral-950 w-10 h-10 flex items-center justify-center rounded-12 border border-solid border-neutral-200 dark:border-neutral-700"
  >
    <ng-container
      [ngComponentOutlet]="selection().icon"
      [ngComponentOutletInputs]="{ color: 'white' }"
    ></ng-container>
  </div>
  <div>
    <p class="text-neutral-950 dark:text-white text-preset-4 mb-1.5">
      {{ selection().title }}
    </p>
    <p class="text-neutral-700 text-preset-6 dark:text-neutral-300">
      {{ selection().description }}
    </p>
  </div>
</div>
