<header
  class="flex justify-between items-center text-preset-5 pb-3 border-b border-neutral-200 dark:border-neutral-800 md:py-4 lg:hidden"
>
  <button
    class="flex gap-x-1 items-center text-neutral-600 dark:text-neutral-300"
    (click)="handleNavigation()"
  >
    <app-icon-arrow-left lightVariant="neutral-600" darkVariant="neutral-300" />
    <p>{{ navigationButtonLabel() | titlecase }}</p>
  </button>
  <div class="flex items-center gap-4">
    @for (item of options(); track item) {
      <button type="button" (click)="handleOptionClick(item)">
        <ng-container
          [ngComponentOutlet]="getIcon(item)"
          [ngComponentOutletInputs]="{
            size: 'sm',
            lightVariant: 'neutral-600',
            darkVariant: 'neutral-300',
          }"
        ></ng-container>
      </button>
    }
    @if (cancelOption()) {
      <button type="button" (click)="handleCancel()">
        <p class="text-neutral-600 dark:text-neutral-300">Cancel</p>
      </button>
    }
    @if (hasSavingOption()) {
      <button type="submit" (click)="handleOptionClick('save')">
        <p class="text-blue-500">Save Note</p>
      </button>
    }
  </div>
</header>
