<li [class.active]="rla.isActive" class="mx-auto md:w-[80px] md:h-[50px]">
  <a
    [routerLink]="
      item().isAbsolute ? '/' + item().path : '/notes/' + item().path
    "
    routerLinkActive="active"
    #rla="routerLinkActive"
    class="flex flex-col gap-1 items-center text-center"
  >
    <ng-container
      [ngComponentOutlet]="item().icon"
      [ngComponentOutletInputs]="{ active: rla.isActive }"
    ></ng-container>
    <span class="hidden text-neutral-400 md:block">
      {{ item().label }}
    </span>
  </a>
</li>
