@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Noto Serif", serif;
  --font-mono:
    "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /*Colors*/
  --color-neutral-950: #0e121b;
  --color-neutral-900: #191b25;
  --color-neutral-800: #232530;
  --color-neutral-700: #2b303b;
  --color-neutral-600: #525866;
  --color-neutral-500: #717784;
  --color-neutral-400: #99a0ae;
  --color-neutral-300: #cacfd8;
  --color-neutral-200: #e0e4ea;
  --color-neutral-100: #f3f5f8;
  --color-neutral-50: #f5f7fa;
  --color-neutral-0: #ffffff;

  --color-blue-700: #2547d0;
  --color-blue-500: #335cff;
  --color-blue-50: #ebf1ff;

  --color-green-500: #21c16b;
  --color-green-100: #d1fbe9;

  --color-red-500: #fb3748;
  --color-red-100: #ffd5d8;

  /*Text*/
  --text-preset-1: 1.5rem; // 24px / 16px base
  --text-preset-1-line-height: 1.2;
  --text-preset-1-tracking: -0.03125rem; // -0.5px / 16px
  --text-preset-1-font-weight: 700;

  --text-preset-2: 1.25rem; // 20px / 16px base
  --text-preset-2-line-height: 1.2;
  --text-preset-2-tracking: -0.03125rem;
  --text-preset-2-font-weight: 700;

  --text-preset-3: 1rem; // 16px / 16px base
  --text-preset-3-line-height: 1.2;
  --text-preset-3-tracking: -0.01875rem; // -0.3px / 16px
  --text-preset-3-font-weight: 600;

  --text-preset-4: 0.875rem; // 14px / 16px base
  --text-preset-4-line-height: 1.2;
  --text-preset-4-tracking: -0.0125rem; // -0.2px / 16px
  --text-preset-4-font-weight: 500;

  --text-preset-5: 0.875rem;
  --text-preset-5-line-height: 1.2;
  --text-preset-5-tracking: -0.0125rem;
  --text-preset-5-font-weight: 400;

  --text-preset-6: 0.75rem; // 12px / 16px base
  --text-preset-6-line-height: 1.2;
  --text-preset-6-tracking: -0.0125rem;
  --text-preset-6-font-weight: 400;

  /*Spacing*/
  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  /*Radius*/
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /*Shadows*/
  --shadow-small: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-large: 0px 8px 24px 0px rgba(16, 24, 40, 0.18);
}

/*Font families*/
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 900;
  font-display: swap;
}
